
@model IEnumerable<Cars.Models.Car>


@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<form asp-action="Index" asp-controller="Cars" method="get">
    <p>
        <input type="text" name="searchString" class="col-md-4" value="@ViewBag.CurrentFilter" placeholder="Search by Model Name or Model Code" />
        <input type="submit" value="Search" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Image")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSortParam">Model Name</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSortParam">ManufacturingDate</a>
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.SortOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

                <td>
                    @if (!string.IsNullOrEmpty(item.ImageName))
                    {
                        var imageNames = item.ImageName.Split(',');
                        <img src="@Url.Content("~/Image/" + imageNames[0])" asp-append-version="true" width="130px" height="80px" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>

            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
          
           
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning shadow-0">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary shadow-0">View More</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger shadow-0">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

            <div class="text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="1">First</a>
            </li>
            @for (var i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.TotalPages">Last</a>
            </li>
        </ul>
    </nav>
</div>